In [ ]:
import os
import pandas as pd
os.getcwd()

'd:\\suhyeon\\Workspace\\Seoul-public-transportation-analysis\\data'

In [3]:
general_raw=pd.read_csv("..\data\general_matched.csv",encoding='utf-8')
old_raw=pd.read_csv("../data/old_matched.csv",encoding='utf-8')

In [4]:
general_raw.head()

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시 이후
0,0,20240101,1호선,150,서울역,승차,340,208,263,891,...,2442,2601,2647,2509,2773,1927,2207,1676,849,42
1,0,20240101,1호선,150,서울역,하차,213,723,758,1088,...,2354,2289,2644,1970,1743,1405,1000,555,285,81
2,0,20240102,1호선,150,서울역,승차,219,463,2030,2910,...,2797,2967,6079,9768,4713,2847,2752,1623,743,95
3,0,20240102,1호선,150,서울역,하차,240,2048,4660,10030,...,1690,1701,2256,2611,1679,1007,955,594,282,97
4,0,20240103,1호선,150,서울역,승차,235,423,1509,2508,...,2577,2752,6199,9369,4280,2896,2536,1608,677,105

In [5]:
general=general_raw.drop(columns='연번')

In [6]:
time_cols = [c for c in general.columns if '시' in c]
general_melt=pd.melt(general,
                     id_vars=['날짜','호선','역번호','역명','구분'],
                     value_vars=time_cols,
                     var_name='시간대')
general_melt.head()

         날짜   호선  역번호   역명  구분     시간대  value
0  20240101  1호선  150  서울역  승차  06시 이전    340
1  20240101  1호선  150  서울역  하차  06시 이전    213
2  20240102  1호선  150  서울역  승차  06시 이전    219
3  20240102  1호선  150  서울역  하차  06시 이전    240
4  20240103  1호선  150  서울역  승차  06시 이전    235

In [7]:
old=old_raw.drop(columns='연번')

In [8]:
old.head()

,날짜,역번호,역명,구분,06시간대이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,10-11시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후
0,20240101,150,서울역,승차,43,49,45,84,129,194,...,274,281,224,176,149,104,72,53,19,1
1,20240101,150,서울역,하차,36,144,76,113,184,199,...,261,212,185,125,90,60,31,30,13,1
2,20240102,150,서울역,승차,76,97,187,162,272,291,...,645,518,488,289,184,123,106,55,13,1
3,20240102,150,서울역,하차,78,294,211,299,444,439,...,476,399,247,177,124,52,65,33,12,4
4,20240103,150,서울역,승차,77,81,168,189,263,326,...,654,568,461,326,202,165,103,56,14,1

In [9]:
time_cols = [c for c in old.columns if '시' in c]
old_melt=pd.melt(old,
                     id_vars=['날짜','역번호','역명','구분'],
                     value_vars=time_cols,
                     var_name='시간대')
old_melt.head()

         날짜  역번호   역명  구분      시간대  value
0  20240101  150  서울역  승차  06시간대이전     43
1  20240101  150  서울역  하차  06시간대이전     36
2  20240102  150  서울역  승차  06시간대이전     76
3  20240102  150  서울역  하차  06시간대이전     78
4  20240103  150  서울역  승차  06시간대이전     77

In [10]:
general_melt.drop(columns='호선')

               날짜   역번호   역명  구분     시간대  value
0        20240101   150  서울역  승차  06시 이전    340
1        20240101   150  서울역  하차  06시 이전    213
2        20240102   150  서울역  승차  06시 이전    219
3        20240102   150  서울역  하차  06시 이전    240
4        20240103   150  서울역  승차  06시 이전    235
...           ...   ...  ...  ..     ...    ...
3868435  20241229  2828  남위례  하차  24시 이후      0
3868436  20241230  2828  남위례  승차  24시 이후     34
3868437  20241230  2828  남위례  하차  24시 이후     76
3868438  20241231  2828  남위례  승차  24시 이후     34
3868439  20241231  2828  남위례  하차  24시 이후     67

[3868440 rows x 6 columns]

In [11]:
import numpy as np

general_melt['시간대_num'] = (
     general_melt['시간대']
    .str.extract(r'(\d{2})')   
    .astype(float)
)

# '06시 이전'만 예외 처리
general_melt.loc[general_melt['시간대'] == '06시 이전', '시간대_num'] = 5

In [12]:
general_melt.head()

         날짜   호선  역번호   역명  구분     시간대  value  시간대_num
0  20240101  1호선  150  서울역  승차  06시 이전    340      5.0
1  20240101  1호선  150  서울역  하차  06시 이전    213      5.0
2  20240102  1호선  150  서울역  승차  06시 이전    219      5.0
3  20240102  1호선  150  서울역  하차  06시 이전    240      5.0
4  20240103  1호선  150  서울역  승차  06시 이전    235      5.0

In [13]:
general_melt = general_melt.drop(columns=['시간대'], errors='ignore')
general_melt= general_melt.rename(columns={'시간대_num': '시간대'})

# 3) 컬럼 순서 재배치
cols = ['날짜', '호선', '역번호', '역명', '구분', '시간대', 'value']
general_melt = general_melt[cols]

In [14]:
import numpy as np

old_melt['시간대_num'] = (
    old_melt['시간대']
    .str.extract(r'(\d{2})')  
    .astype(int)
)

# 예외 처리
old_melt.loc[old_melt['시간대'] == '06시간대이전', '시간대_num'] = 5
old_melt.loc[old_melt['시간대'] == '24시간대이후', '시간대_num'] = 24

         날짜  역번호   역명  구분      시간대  value  시간대_num
0  20240101  150  서울역  승차  06시간대이전     43        5
1  20240101  150  서울역  하차  06시간대이전     36        5
2  20240102  150  서울역  승차  06시간대이전     76        5
3  20240102  150  서울역  하차  06시간대이전     78        5
4  20240103  150  서울역  승차  06시간대이전     77        5

In [15]:
old_melt = old_melt.drop(columns=['시간대'], errors='ignore')
old_melt= old_melt.rename(columns={'시간대_num': '시간대'})

# 3) 컬럼 순서 재배치
cols = ['날짜', '역번호', '역명', '구분', '시간대', 'value']
old_melt = old_melt[cols]

In [16]:
old_melt

               날짜   역번호   역명  구분  시간대  value
0        20240101   150  서울역  승차    5     43
1        20240101   150  서울역  하차    5     36
2        20240102   150  서울역  승차    5     76
3        20240102   150  서울역  하차    5     78
4        20240103   150  서울역  승차    5     77
...           ...   ...  ...  ..  ...    ...
3868435  20241229  2828  남위례  하차   24      0
3868436  20241230  2828  남위례  승차   24      2
3868437  20241230  2828  남위례  하차   24      1
3868438  20241231  2828  남위례  승차   24     12
3868439  20241231  2828  남위례  하차   24      2

[3868440 rows x 6 columns]

In [17]:
df_final = pd.merge(general_melt, old_melt,
                     on = ['날짜','역번호','역명','구분','시간대'],
                     how = 'inner')

In [18]:
df_final=df_final.rename(columns={
    'value_x':'general',
    'value_y':'old'
             
})
df_final.head()

         날짜   호선  역번호   역명  구분  시간대  general  old
0  20240101  1호선  150  서울역  승차  5.0      340   43
1  20240101  1호선  150  서울역  하차  5.0      213   36
2  20240102  1호선  150  서울역  승차  5.0      219   76
3  20240102  1호선  150  서울역  하차  5.0      240   78
4  20240103  1호선  150  서울역  승차  5.0      235   77

In [87]:
df_final.to_csv(
    'df_final.csv',
    index=False,
    encoding='utf-8-sig'
)